%section#container
  %section#languages
    %a{ :href => "/fr/index" } Je parle français
  
  %section#introduction
    #polaroids-left.polaroids
      .polaroid-left-back.polaroid
      .polaroid-left-middle.polaroid
      .polaroid-left-front.polaroid
        %img{ :src => "/images/cool_cropped.png" }
        %p Yipee !
    %article
      %h3 After all those years together, we decided to get married !
      %img{ :src => "/images/hearts.jpg", :class => "hearts" }
      %br
      %time{ :datetime => "2011-07-16"} The 16th of July 11
      %p.continue
        %a{ :href => "#location" } 
          There's more
          %br
          %img{ :src => "/images/continue.png", :class => "continue" }

  %section#location
    %article
      %h3 Where and when?
      :textile
        For all those interrested, the *church wedding* will take place starting from *1p.m.* at the *Sart-Saint-Laurent* church, small village between Namur and Fosses-la-Ville. And as we are a geek couple, here's a link to a google maps so you won't get lost...
      %p
        %img{ :src => "/images/google.png", :class => "google" }
        %a{ :href => "http://maps.google.be/maps?f=q&source=s_q&hl=fr&geocode=&q=Sart-Saint-Laurent,+Fosses-la-Ville+rue+de+burnot+8&aq=&sll=50.401939,4.742285&sspn=0.000853,0.002379&ie=UTF8&hq=&hnear=Rue+de+Burnot+8,+5070+Fosses-la-Ville,+Namur,+R%C3%A9gion+Wallonne&ll=50.401789,4.742639&spn=0.006825,0.019033&t=h&z=16" } Here's the map...
      %p.continue
        %a{ :href => "#location-party" } 
          There's more
          %br
          %img{ :src => "/images/continue.png", :class => "continue" }
    #polaroids-right.polaroids
      .polaroid-right-back.polaroid
      .polaroid-right-middle.polaroid
      .polaroid-right-front.polaroid
        %img{ :src => "/images/rings_cropped.png" }
        %p Home made wedding rings !
      
  %section#location-party
    #polaroids-left.polaroids
      .polaroid-left-back.polaroid
      .polaroid-left-middle.polaroid
      .polaroid-left-front.polaroid
        %img{ :src => "/images/proposal_cropped.png" }
        %p The proposal...
        %p.minimized (one more time for the photo :)
    %article
      %h3 After church ?
      :textile
        The lucky guys that will come to the cocktail party, the amazing banquet or the unforgivable party, please know that it will all take place at the *Clos Saint Michel in Upigny*, no, it's not the Upignac farm, it's just across the road ! We'll be waiting for you starting from *3:30 p.m.* for the *cocktail party*, and from *9:30 p.m.* for the *evening party*. 
    
      %p
        %img{ :src => "/images/google.png", :class => "google" }
        %a{ :href => "http://maps.google.be/maps?f=q&source=s_q&hl=fr&geocode=&q=Place+d'Upigny,+Eghez%C3%A9e,+R%C3%A9gion+Wallonne&aq=0&sll=50.646848,4.526367&sspn=0.434527,1.218109&ie=UTF8&hq=&hnear=Place+d'Upigny,+5310+%C3%89ghez%C3%A9e,+Namur,+R%C3%A9gion+Wallonne&ll=50.572445,4.871578&spn=0.054402,0.152264&t=h&z=13" } The other map...
      %p.continue
        %a{ :href => "#gifts" } 
          There's more
          %br
          %img{ :src => "/images/continue.png", :class => "continue" }

  %section#gifts
    %article
      %h3 And for the gifts ?
      :textile
        We had two wedding lists opened. A "regular" one, and another one a little more special. For the first list, you can go to any INNO shops in Belgium mentioning our names or just follow the link at the bottom and do it online. The other list will offer you to participate to our honeymoon...

      %p
        %img{ :src => "/images/cado.png", :class => "gift" }
        %a{ :href => "http://www.galeriainnogiftlist.be/index.php?id=12&application=frontend&module=makeagift&L=0&idAccount=2325" } The "serious" list
        %img{ :src => "/images/cado.png", :class => "gift" }
        %a{ :href => "http://www.kadolog.com/view/userkadologs/3910" } The funny list
      %p.continue
        %a{ :href => "#couple" } 
          There's more
          %br
          %img{ :src => "/images/continue.png", :class => "continue" }
    #polaroids-right.polaroids
      .polaroid-right-back.polaroid
      .polaroid-right-middle.polaroid
      .polaroid-right-front.polaroid
        %img{ :src => "/images/kitchen_cropped.png" }
        %p Cooking lecture with our best men and maids of honnor
        %p.minimized (yummy!)
        
  %section#couple
    #polaroids-left.polaroids
      .polaroid-left-back.polaroid
      .polaroid-left-middle.polaroid
      .polaroid-left-front.polaroid
        %img{ :src => "/images/koala_cropped.png" }
        %p No comment...
    %article 
      %h3 Do you want to drop us a few lines ?
      %p We have a common email address:
      %p.email delph.et.marc@gmail.com
      %p And we live there:
      %p.address Rue Victor Greyson 51 1050 Ixelles
      %a{ :href => "#introduction" }
        %img{ :src => "/images/house.jpg", :class => "house"}

  %footer
    %p This official message has been approved by Delph&Marc© 