%section#container
  %section#languages
    %a{ :href => "/en/index" } I speak English
  
  %section#introduction
    #polaroids-left.polaroids
      .polaroid-left-back.polaroid
      .polaroid-left-middle.polaroid
      .polaroid-left-front.polaroid
        %img{ :src => "/images/cool_cropped.png" }
        %p Youhou !
    %article
      %h3 Après plusieurs années à se supporter, on a décidé de se marier !
      %img{ :src => "/images/hearts.jpg", :class => "hearts" }
      %br
      %time{ :datetime => "2011-07-16"} Le 16 juillet 2011
      %p.continue
        %a{ :href => "#location" } 
          Ca continue
          %br
          %img{ :src => "/images/continue.png", :class => "continue" }

  %section#location
    %article
      %h3 Où et quand ?
      :textile
        Pour toutes les personnes intéressées, la *célébration* se déroulera à partir de *13h* à l'église de *Sart-Saint-Laurent*, petit bouiboui entre Namur et Fosses-la-Ville. Et comme on est des adeptes de technologie moderne, on vous met un lien vers un google maps...
      %p
        %img{ :src => "/images/google.png", :class => "google" }
        %a{ :href => "http://maps.google.be/maps?f=q&source=s_q&hl=fr&geocode=&q=Sart-Saint-Laurent,+Fosses-la-Ville+rue+de+burnot+8&aq=&sll=50.401939,4.742285&sspn=0.000853,0.002379&ie=UTF8&hq=&hnear=Rue+de+Burnot+8,+5070+Fosses-la-Ville,+Namur,+R%C3%A9gion+Wallonne&ll=50.401789,4.742639&spn=0.006825,0.019033&t=h&z=16" } Le bon plan...
      %p.continue
        %a{ :href => "#location-party" } 
          Ca continue
          %br
          %img{ :src => "/images/continue.png", :class => "continue" }
    #polaroids-right.polaroids
      .polaroid-right-back.polaroid
      .polaroid-right-middle.polaroid
      .polaroid-right-front.polaroid
        %img{ :src => "/images/rings_cropped.png" }
        %p Les alliances faites maison !
      
  %section#location-party
    #polaroids-left.polaroids
      .polaroid-left-back.polaroid
      .polaroid-left-middle.polaroid
      .polaroid-left-front.polaroid
        %img{ :src => "/images/proposal_cropped.png" }
        %p La demande...
        %p.minimized (reconstitution pour la photo :)
    %article
      %h3 Et après la célébration ?
      :textile
        Les chanceux qui nous rejoignent pour le charmant vin d'honneur, le repas du feu de dieu ou la soirée endiablée, sachez que les festivités auront lieu au *Clos Saint Michel d'Upigny*, non ce n'est pas à la ferme d'Upignac c'est juste en face ! On vous y attend dès *15h30* pour le *vin d'honneur*, et à *21h30* pour la *soirée*.

      %p
        %img{ :src => "/images/google.png", :class => "google" }
        %a{ :href => "http://maps.google.be/maps?f=q&source=s_q&hl=fr&geocode=&q=Place+d'Upigny,+Eghez%C3%A9e,+R%C3%A9gion+Wallonne&aq=0&sll=50.646848,4.526367&sspn=0.434527,1.218109&ie=UTF8&hq=&hnear=Place+d'Upigny,+5310+%C3%89ghez%C3%A9e,+Namur,+R%C3%A9gion+Wallonne&ll=50.572445,4.871578&spn=0.054402,0.152264&t=h&z=13" } L'autre bon plan...
      %p.continue
        %a{ :href => "#gifts" } 
          Ca continue
          %br
          %img{ :src => "/images/continue.png", :class => "continue" }

  %section#gifts
    %article
      %h3 Et pour les cadeaux ?
      :textile
        Nous avons ouvert deux listes, une "traditionnelle" et une autre un peu plus farfelue. Pour la plus traditionnelle, vous pouvez vous rendre dans tous les magasins INNO en mentionnant nos noms ou cliquer sur le lien ci-dessous. L'autre liste vous permettra de participer, entre-autres, à notre voyage de noce etc... 
      %p
        %img{ :src => "/images/cado.png", :class => "gift" }
        %a{ :href => "http://www.galeriainnogiftlist.be/index.php?id=12&application=frontend&module=makeagift&L=0&idAccount=2325" } La liste "sérieuse"
        %img{ :src => "/images/cado.png", :class => "gift" }
        %a{ :href => "http://www.kadolog.com/view/userkadologs/3910" } La drôle de liste
      %p.continue
        %a{ :href => "#couple" } 
          Ca continue
          %br
          %img{ :src => "/images/continue.png", :class => "continue" }
    #polaroids-right.polaroids
      .polaroid-right-back.polaroid
      .polaroid-right-middle.polaroid
      .polaroid-right-front.polaroid
        %img{ :src => "/images/kitchen_cropped.png" }
        %p Cours de cuisine avec nos témoins
        %p.minimized (miam)
        
  %section#couple
    #polaroids-left.polaroids
      .polaroid-left-back.polaroid
      .polaroid-left-middle.polaroid
      .polaroid-left-front.polaroid
        %img{ :src => "/images/koala_cropped.png" }
        %p No comment...
    %article 
      %h3 Vous voulez nous écrire ?
      %p Nous avons une adresse email commune:
      %p.email delph.et.marc@gmail.com
      %p Notre adresse postale est:
      %p.address Rue Victor Greyson 51 1050 Ixelles
      %a{ :href => "#introduction" }
        %img{ :src => "/images/house.jpg", :class => "house"}

  %footer
    %p Ce message officiel est approuvé par Delph&Marcou© 