!!!
%html
  %head
    %title= t.title
    <!--[if IE]><script src="/javascripts/html5-ie.js"></script><![endif]-->
    %link(rel="stylesheet" href="/stylesheets/reset.css" media="screen")
    %link(rel="stylesheet" href="/stylesheets/style.css" media="screen")
    <!--[if lte IE 8]>
    %link(rel="stylesheet" href="/stylesheets/ie_crap.css" media="screen")
    <![endif]-->
    %link(rel="stylesheet" href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet')
    %link(rel="stylesheet" href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet')
    
    %script(type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js")
    %body
      = yield